body {
    background-color: #F0FFFF;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    flex-direction: row;
}

div {
    display: flex;
    justify-content: center;
}

img {
    height: 25rem;
    width: 35rem;
    border-radius: 1rem;
    margin: auto;
    display: block;
}

.container {
    border-radius: 0.5rem;
    width: 25rem;
    height: 35rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input_content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.botaoenviar {
    border: 0;
    background-color: #2D9CDB;
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
}

.botaoenviar:hover {
    filter: brightness(1.2);
}

input {
    width: 90%;
    border: 0;
    padding: 1rem;
    outline: none;
    border-radius: 0.5rem;
}

h2 {
    font-weight: 700;
    font-style: inherit;
}